# Dependencias
**/node_modules/

# Builds generados
**/build/
**/dist/

# Variables privadas
**/.env
**/.env.local
**/.env.development
**/.env.production
**/.env.playwright

# Logs
**/*.log

# Sistema
.DS_Store
Thumbs.db

NORIA_CONFIG/saas.env
