APP_ENV=local
APP_DEBUG=true
APP_TIMEZONE=America/Argentina/Cordoba
ALLOWED_ORIGINS=http://localhost:3000,https://socios.tudominio.com

MASTER_DB_HOST=localhost
MASTER_DB_PORT=3306
MASTER_DB_NAME=socios_master
MASTER_DB_USER=root
MASTER_DB_PASS=
